.grass{
  background-position:center top;
  background-repeat:repeat-x;
  background-size:auto 10vh;
  bottom:-2.5vh;
  filter: brightness($night-brightness);
  height:10vh;
  left:0;
  position:absolute;
  transition:bottom 1s linear;
  width:100%;
  &.active{
    bottom:-160vh;
  }
}

.andrew{
  bottom:-1vh;
  filter: brightness($night-brightness);
  height:85vh;
  left:50%;
  position:absolute;
  transform:translateX(-50%);
  transition:all 1s linear;
  width:auto;
  &.active{
    bottom:-160vh;
    height:260vh;
  }
}
